.app-container {
  height: 100dvh;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #020024 0%, #090979 35%, #00d4ff 100%);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.app-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.3em;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #d0d0ff;
  font-style: italic;
}

.app-description {
  font-size: 1.25rem;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.15);
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  line-height: 1.5;
}
